* {
    font-family:'Lucida Sans';
}

h1 {
    color:rgb(15, 25, 100);
    text-align:center;
    margin:12px;
}

h2 {
    color:rgb(20, 25, 30);
}

body {
    background-color:rgb(221, 238, 248);
    margin-left:60px;
    margin-right:60px;
}

.header_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.not-visible {
    opacity:0;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

/* Menu */

ul {
    padding:5;
    background-color:rgb(135, 185, 215);
    text-align:center;
}

ul li {
    list-style: none;
    display:inline-block;
    line-height: 30px;
}

ul li a {
    text-decoration: none;
    font-size: 24px;
    color:black;
    padding: 6 50px;
}

ul li a:hover {
    background-color:rgb(125, 170, 200);
}

.current_page {
    position:relative;
}

.triangle {
    width:0px;
    height:0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 15px solid black;
    position:absolute;
    top:-15px;
    left:50%;
    transform: translate(-50%);
}

/* Art Page */

.media_carousel {
    display:none;
}

.media_carousel {
    display:grid;
    grid-auto-flow:column;
    overflow-x:auto;
    column-gap:10px;
    margin-top: 20px;
}

.autoScroll::-webkit-scrollbar { 
    display: none; 
}

.media_element img {
    width: 300px;
    height:300px;
    margin:0px;
}

.media_element p {
    text-align: center;
    font-size: 14px;
}
